[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"discord.py" = "*"
python-dotenv = "*"
sqlalchemy = "*"
beautifulsoup4 = "*"
alembic = "*"
websockets = "*"
pawprints-api = {editable = true, path = "./../pawprints-api"}

[dev-packages]

[requires]
python_version = "3.8"
